/* Url imports */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* End of url imports */

@import "tailwindcss";

@layer base {
  :root {
    --color-background: hsl(0, 0%, 100%);
    --color-text: hsl(0, 3%, 14%);
    --color-foreground: hsl(0, 0%, 95%);
    --color-foreground-detail: hsl(0, 0%, 74%);
    --color-primary: hsl(179, 100%, 42%);
    --color-secondary: hsl(168, 100%, 68%);
    --color-accent-primary: hsl(349, 84%, 38%);
    --color-accent-secondary: hsl(349, 94%, 56%);

    --font-jost: "Jost", sans-serif;
    --font-nunito: "Nunito", sans-serif;
    --font-verdana: Verdana, Geneva, Tahoma, sans-serif;
  }
  .dark {
    --color-background: hsl(0, 3%, 14%);
    --color-text: hsl(0, 0%, 95%);
    --color-foreground: hsl(0, 2%, 24%);
    --color-foreground-detail: hsl(0, 3%, 14%);
    --color-primary: hsl(349, 84%, 38%);
    --color-secondary: hsl(349, 94%, 56%);
    --color-accent-primary: hsl(179, 100%, 42%);
    --color-accent-secondary: hsl(168, 100%, 68%);
  }
}
@layer utilities {
  /* Utilites for Font families */
  .font-title {
    font-family: var(--font-jost);
  }
  .font-subtitle {
    font-family: var(--font-nunito);
  }
  .font-text {
    font-family: var(--font-verdana);
  }

  /* Utilities for Colors */
  /* ------------- Backgrounds -------------*/
  .bg-page {
    background-color: var(--color-background);
  }
  .bg-menu {
    background-color: var(--color-foreground);
  }
  .bg-separator {
    background-color: var(--color-foreground-detail);
  }

  /* ------------- Texts ------------- */
  .text-body {
    color: var(--color-text);
  }
  .text-accent {
    color: var(--color-accent-primary);
  }

  /* ------------- Items -------------*/
  .menu-item-absolute {
    color: var(--color-text);
  }
  .menu-item-primary {
    color: var(--color-text);
    transition: color 200ms ease;
  }
  .menu-item-primary:hover {
    color: var(--color-accent-primary);
  }

  /* Utilities for Values */
  .rounded-custom {
    border-radius: 10px;
  }
  .rounded-tag {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .separator-height {
    height: 2px;
  }
}
