/* Url imports */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* End of url imports */

@import "tailwindcss";

@theme {
  --color-cold-primary: hsl(179, 100%, 42%);
  --color-cold-secondary: hsl(168, 100%, 68%);
  --color-neutral: hsl(0, 3%, 14%);
  --color-warm-primary: hsl(349, 84%, 38%);
  --color-warm-secondary: hsl(305, 89%, 11%);

  --font-title: "Jost", sans-serif;
  --font-subtitle: "Nunito", sans-serif;
  --font-text: "Verdana", sans-serif;
}
